@model IEnumerable<AS_Store.Models.Basket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCustomerNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderPlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBasket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBasket">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBasket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
