@model IEnumerable<AS_Store.Models.BasketItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBasketNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBasketNavigation.IdBasket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductNavigation.IdProduct)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBasketItem">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBasketItem">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBasketItem">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
